{{/* index.tmpl */}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <h1>Hello, Kubernetes!</h1>
  <button id="celebrate">Celebrate</button>
  <script src="/static/confetti.js"></script>
</body>
</html>
